.container{
	display: flex;
	flex-wrap: wrap;
	width: 500px;
	margin: 0 auto;
	justify-content: center;
	border: 1px solid #000;
}
.container div{
	border: 1px solid #000;
	box-sizing: border-box;
	width: 50px;
	height: 50px;
	line-height: 50px;
	text-align: center;
}
.selected{
	background-color: red;
}
.roll{
	width: 100px;
    text-align: center;
    height: 50px;
    border-radius: 8px;
    line-height: 50px;
    text-transform: uppercase;
    color: white;
    background-color: #ff005c;
    margin: 30px auto;
}